html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

header,
footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0.25em;
  color: #00887a;
  box-shadow: 0px 0px 5px 0px #77a6f7;
  font-family: "Vollkorn", serif;
  font-size: 1em;
}

footer {
  padding: 2em;
}

header .profile-img {
  height: 5em;
  border-radius: 50%;
  margin-right: 2em;
}

.self {
  display: flex;
  align-items: flex-end;
}

.self .contact {
    margin: 0 1em;
}

main {
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
  font-size: 0.9em;
  padding: 1em;
}

.about-me {
  font-size: 1.3em;
}

main #education .education-table {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border: thin solid #77a6f7;
  padding: 1em;
}

main #education .education-table td {
  padding: 0.5em 0;
  font-size: 1.2em;
}

main #education .education-table th {
  padding: 0.5em 0;
  font-size: 1.3em;
}

.project {
  padding: 1em;
  font-size: 1.3em;
}

.project fieldset {
  border: thin solid #d0d0d0;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #eee;
}

.project legend h4 {
  margin: 0;
}

#misc {
  display: flex;
  justify-content: space-between;
}

#misc div {
  padding: 2em;
}

#misc div li {
  font-size: 1.3em;
  transition: all 0.5s;
}

#misc div li:hover {
  background: #77a6f7;
  color: white;
  border-radius: 2px;
}

#hobbies {
  font-size: 1.3em;
}
/* copyrights Sumant Tulshibagwale */